.container-footer{
    min-height: 200px;  /* Altura mínima do footer */
    position: relative; /* Garante que o footer fique no fluxo normal da página */
    background-color: var(--cor-fundo-cinza-escuro);
    color: var(--cor-branca);
    font-size: var(--fonte-normal);
    margin: 0;
}


.container-footer h2{
    color: var(--cor-branca);
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    padding: 20px; /* Used one padding rule */
}

.contact-info p{
    padding:10px;
}


.contact-info h2,
.social-media h2,
.additional-info h2 {
    margin-bottom: 10px;
}

.social-media {
    display: flex;
    flex-direction: column;
   
   /* max-width: 100%;  /* Impede que o contêiner ultrapasse a largura da tela */
    /*overflow: hidden; /* Garante que o conteúdo extra não vaze para fora */
    
  }

.social-media a {
    display: flex;         /* Usando Flexbox */
    flex-direction: column; /* Alinha os itens em coluna */
    padding: 10px;            /* Remove o padding padrão */
    list-style-type: none;  /* Remove os marcadores da lista */
    width: 100%; /* Faz com que a lista ocupe toda a largura disponível */
  }
  
  
  .social-media a {
    color: var(--cor-branca); /* Cor dos links */
    text-decoration: none;    /* Remove o sublinhado */
  }
  
  .social-media a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
  }
  
  
  @media (max-width: 768px) {
    .contact {
      align-items: center; /* Centraliza os itens */
    }
  
    .redes-links{
     /* width: 100%;           /* Garante que o ul ocupe toda a largura disponível */
      /*gap: 10px;             /* Reduz o espaço entre os itens */
    }
    .redes-links a {
        display: fl;
        flex-direction: column;
        width: 100%;
        background-color: var(--cor-fundo-cinza-escuro);
        top: 60px; /* Ajuste conforme a altura do header */
        left: 0;
    }
  
    
  }
  