/* Estilos Gerais */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--cor-fundo-cinza-escuro);
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul {
  display: flex;
  gap:20px;
  align-items: center;
  text-align: center;
  list-style: none;
  gap: 20px;
  padding: 0;
}

ul li a {
  color: var(--cor-branca);
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

ul li a:hover {
  color: var(--cor-primaria);
  text-decoration: underline;
}

/* Estilo do botão de hambúrguer */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: var(--cor-branca);
  cursor: pointer;
  position: relative;
  top: 50%; /* Centraliza verticalmente */
  left: 40%; /* Afastamento de 15px da borda direita */
  transform: translateY(0%);
}


/* Menu Responsivo */
@media (max-width: 768px) {
  /* Exibir o botão de menu (hambúrguer) em telas menores */
  .menu-toggle {
      display: block;
  }

  /* O menu de navegação ficará oculto em telas pequenas */
  ul {
      display: none;
      flex-direction: column;
      border-radius: 10px;
      position: absolute;
      justify-content: flex-start;
      top: 100px; /* Ajuste conforme a altura do header */ 
      right: 0;
      background-color: var(--cor-fundo-cinza-escuro);
      padding: 20px;
  }

  /* Quando o menu estiver aberto */
  ul.open {
    display: flex;   
    gap:10px;
  }
  /* Links dentro do menu */
  ul li a {
      display: block;
      font-size: 18px;
      text-align: center;
      color: var(--cor-branca);
  }

  /* Adiciona um efeito ao clicar no ícone */
  .menu-toggle:focus {
      outline: none;
  }
}
