.container-aside {
    display: flex;
    flex-direction: column; /* Garante que os itens dentro do container sejam empilhados verticalmente */
    align-items: center;
    width: 350px;
    height: 700px;
    
    background-color: var(--cor-azul-suave);
    padding: 10px 10px; /* Adiciona espaçamento interno ao container */
}

.dashboard-vendas {
    display: flex;
    color: var(--foreground);
    flex-direction: column; /* Coloca os cartões um em cima do outro */
    width: 90%; /* Faz o contêiner ocupar toda a largura disponível */
}

.card {
    
    color: var(--cor-azul-escuro);
    padding: 20px;
    border: 3px solid var(--cor-azul-escuro);
    border-radius: 15px;
    /*width: 100%; /* Faz os cartões ocuparem toda a largura do contêiner */
}
/*
#map {
    height: 500px;
    width: 100%;
    border-radius: 15px;
    border: 3px solid var(--cor-azul-escuro);
    margin-top: 20px; /* Espaçamento entre os cartões e o mapa *//*
}*/
