.container-aside {
    display: flex; /* Usando Flexbox */
    align-items: center; /* Alinha os itens verticalmente no centro */
    background-color: var(--cor-azul-suave);
    padding: 10px 10px; /* Adiciona espaçamento interno ao container */
}

.dashboard-vendas {
    display: flex;
    color: var(--foreground);
    flex-direction: row; /* Coloca os cartões lado a lado (horizontal) */
    width: 90%; /* Faz o contêiner ocupar toda a largura disponível */
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
}

.produtos {
    color: var(--cor-azul-escuro);
    padding: 20px;
    border: 3px solid var(--cor-azul-escuro);
    border-radius: 15px;
}

